@font-face {
  font-family: 'gahiboe';
  src: url('/src/tipografias_somnia/GAHIBOE\ Regular.ttf ') format('opentype');
}
@font-face {
  font-family: 'Fontlero';
  src: url('/src/tipografias_somnia/FONTLERO.TTF') format('opentype');
}

.fondoMain {
  min-height: 100vh;
  overflow: hidden;
  background: url(/public/imagenes/fondomain.jpg);
  background-size: cover;
  background-position: center;
}

.cajaDeCajas{
  width: 100%;
  display: flex;
  /*Las tarjetas se ordenan como en un stack*/
  flex-direction: column;
  /*Espacio entre tarjetas*/
  gap: 0;

}

.tarjeta{
  position: relative;
  min-height: 160px;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
 
}

.textoTJ{
  /*Posicionamiento de texto*/
  position: relative;
  z-index: 4;
  text-align: center;
  padding: 0px;

  /*Estilo de texto*/
  font-family: 'Fontlero';
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2%;

  display: flex;
  align-items: center;

  background: rgba(10, 10, 15, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 1000;

}
.Logo {
  font-family: 'gahiboe';
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  top: 0px;
}






/*-----------------------*/
